main {
	display: flex;
	align-items: center;
	flex: 1;
	width: 100%;
	background: url('../images/property.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

main section {
	display: flex;
  	justify-content: center;
	text-align: center;
	width: 100%;
}

main section .vertical-center {
	text-shadow: 8px 8px 32px #000;
}

main section .vertical-center hr {
	width: 60%;
}