main {
	display: flex;
	align-items: center;
	flex: 1;
	width: 100%;
	background: url('../images/luxury-home-2409518_1920.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

main .modal h1, main .modal-login h1 {
	color: #000;
	text-align: center;
}

main section {
	display: flex;
  justify-content: center;
	text-align: center;
	width: 100%;
}

main section .vertical-center {
	text-shadow: 8px 8px 32px #000;
}

main section .vertical-center a {
	font-size: 20px;
	font-weight: bold;
	border: 5px solid #5DBCD2;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
}

main section .vertical-center hr {
	width: 60%;
}