input[type="submit"] {
    background-color: #5DBCD2;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    outline: 0;
    text-shadow: 8px 8px 16px #111;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  main section {    
      flex: 50%;
  }
  
  main .banner {
      background-color: #5DBCD2;
  }
  
  main .banner h2 {
      margin-top: 60px;
      text-align: center;
      font-size: 34px;
      font-weight: bold;
      color: #fff;
      text-shadow: 8px 8px 16px #111;
  }
  
  main .form-section {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
  }
  
  main .form-section h2 {
      color: #000;
      margin-bottom: 40px;
      font-size: 34px;
      font-weight: bold;
  }
  
  main .form {
      display: flex;
      flex-direction: column;
  }
  
  main .form label {
      margin-bottom: 10px;
  }
  
  main .form input {
      outline: 0;
      margin-bottom: 20px;
      padding: 10px 10px;
  }
  
  @media only screen and (min-width: 768px) {
  
      main {
          flex-direction: row;
      }

      main .signup {
        background: url('../../assets/images/man-3030653_1920.jpg');
    }
  
      main .signin {
          background: url('../../assets/images/login.jpg');
      }

      main .banner {
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
      }
  
      main .banner h2 {
          margin-top: 200px;
      }
  
      main .form-section {
          margin-top: 100px;
      }
  }