* {
  box-sizing: border-box
}

button {
  outline: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  background: #888;
  opacity: 0.9;
  color: #fff;
}

button:hover {
  opacity: 1;
}

button:nth-child(even){
  background: #5DBCD2;
}

input {
  padding: 8px;
  outline: 0;
  font-size: 15px;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #5DBCD2;
  border-top: 5px solid #fff;
}

.container .search-bar {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin-bottom: 15px;
  border: 10px solid #000;
  border-radius: 20px;
  width: 60%;
  padding: 20px;
  background: #ccc;
}

.container .search-bar select {
  outline: 0;
  padding: 5px 10px;  
}

.container h2, .container h1 {
  color: #000;
  text-align: center;
}

.container .property-card {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  box-sizing: border-box;
}

.container .property-card .card {
  border-radius: 1px solid #bbb;
  transition: all 0.3s linear;
  cursor: pointer;
  position: relative;
}

.container .property-card .card:hover {
  box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  transform: rotate(-1deg);
}

.container .property-card .card .property-status {
  position: absolute;
  top: 30px;
  right: -10px;
  font-size: 25px;
  font-weight: bold;
  transform: rotate(45deg);
}

.container .property-card .card .delete-check {
  position: absolute;
}

.container .property-card figure figcaption {
  text-align: center;
}

.container .property-card figure img {
  width: 100%;
}

.container .property-card figure p {
  color: #000;
}

.container .post-input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.container .post-input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.container .post {
  background-color: #5DBCD2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  opacity: 0.9;
}

.container .post:hover {
  opacity: 1;
}

.container .wrapper {
  padding: 16px;
}

.container .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}

.container .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%; 
}

.container hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.container .close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.container .close:hover,
.container .close:focus {
  color: #f44336;
  cursor: pointer;
}

@media only screen and (min-width: 768px){

  .container .search-bar .search-input {
    grid-column: 3/span 2;
  }

  .container .modal-content {
      width: 40%;
  }
}